$color_box: #222222;
$width_site: 1140px;
$main_color: #f16d7f;
$color_text: #000;
$main_second_color: #ffffff;
$main_border_color: #eaeaea;
$nav_gb_color: #f8f3f4;
$top_photo_bg_color: #f7f7f7;
$card_bg_color: #f8f8f8;
